AddType x-mapp-php5 .php
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI} !/transaction/
RewriteCond %{REQUEST_URI} !/programme-neuf/
RewriteCond %{HTTP_HOST} ^immextenso.fr$
RewriteRule ^(.*) http://www.immextenso.fr/$1  [QSA,L,R=301]