#selection{
	
}
.selectionContent {
    display: inline-block;
    margin: 10px;
}
.selectionContent img {
    height: 113px;
    width: 200px;
}
.selectionVille {
    font-size: 15px;
    font-weight: bold;
}
.selectionPrix {
    font-style: italic;
    margin-top: -6px;
}