
#blocinfoAgence{
	background-color: #E2E2E2;
}
#infoAgence{
	margin: auto;
	width: 1000px;
	color: #666;
	padding: 10px;
}
#infoAgence h3{
	display: inline;

}
#infoAgence i{
	font-size: 30px;
    margin: 10px;
}
#infoAgence li{

    margin: 10px 10px 10px 50px;
}
#infoAgence ul{
	margin: auto;
    width: 810px;
}
#infoAgence div{
	padding-left: 38px;
}
#infoAgence .logoMini{
	font-size: 30px;
    margin: 10px;
	color: #404040;
}